@use '../utils/variables.scss' as variables;
@use '../utils/mixins.scss' as mixins;

.contact{
    margin-top: 120px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   >h1{
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 200px;
    color: #668ab5;

   }
   >p{
   background-color: variables.$white-color;
   width: 60%;
   padding: 50px;
   border-radius: 20px;
   color:variables.$h3-font-color;
   text-align:center;
    line-height: 1.5; 

   }
   
}
.logo-contact{
    font-weight: 900;
    font-size: 45px;
}

