@use '../utils/variables.scss' as variables;
@use '../utils/mixins.scss' as mixins;

.tshirt-detail{
    @include mixins.detail;
}
.favorites-button{
    >a{
         text-decoration: none;
         color:variables.$white-color;
    }
   
}

.cargando{
    margin-top: 120px;
    margin: 0 auto;
}