@use '../utils/variables.scss' as variables;
@use '../utils/mixins.scss' as mixins;



.tshirtList{
margin-top: 120px; 
text-align: center;
}

.list{
margin-top: 10px; 
display: flex;
  flex-wrap: wrap;           // permite que los items se apilen cuando no quepan
  justify-content: center;   // centra las filas horizontalmente
  gap: 20px;                 // espacio entre las camisetas
  width: 100%;
  padding: 20px 0;
}


.tshirtItem{
  max-width: 250px;       // no se hace demasiado grande
  min-width: 150px;       // no se haga demasiado pequeño
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  background-color: variables.$card-color;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12); // sombra inicial suave

  &:hover {
    transform: scale(1.04); // ligera ampliación al pasar mouse
    box-shadow: 0 6px 14px rgba(0,0,0,0.22); // sombra más fuerte
  }
  
 >img { width: 200px;
     height: auto;
     border-radius:10px;
    
    }

 >.detailButton{
    padding: 8px;
    background-color: variables.$blue-color;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;

    font-family: variables.$body-font;
    font-weight: 400;
    color: variables.$white-color;


    &:hover {
    background-color: variables.$blue-color-hover; // color más oscuro al pasar el mouse
    transform: translateY(-2px); // efecto de “levitar”
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); // sombra ligera
  }
    }
  >h3{
    color:variables.$h3-font-color
    
  }
}

