.tshirtList{
margin-top: 120px; 
text-align: center;
}

.list{
margin-top: 10px; 
display: flex;
  flex-wrap: wrap;           // permite que los items se apilen cuando no quepan
  justify-content: center;   // centra las filas horizontalmente
  gap: 20px;                 // espacio entre las camisetas
  width: 100%;
  padding: 20px 0;
}


.tshirtItem{
  max-width: 250px;       // no se hace demasiado grande
  min-width: 150px;       // no se haga demasiado pequeño
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 246, 246);
  border-radius: 15px;
  padding: 20px;

 >img { width: 200px;
     height: auto;
     border-radius:10px;
    
    }

 >.detailButton{
    padding: 8px;
    background-color:  #F2FF00;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;

    &:hover {
    background-color: #e0d8b0; // color más oscuro al pasar el mouse
    transform: translateY(-2px); // efecto de “levitar”
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); // sombra ligera
  }
    }
}

@media (max-width: 480px) {
  .tshirtItem {
     flex: 1 1 20%;  // base 45% del ancho
    max-width: 45%; // no más ancho que 45%
    min-width: 0;   // evita que la tarjeta no se encoj
  }

  .list{
    gap: 10px;        // menos espacio entre tarjetas en móvil
  }
}