.barNav{
    background-color: #C3C920;
    margin-bottom: 20px;
    padding: 10px
}


/* 1. Botón hamburguesa */
.bm-burger-button {
  position: fixed;   /* Para que siempre esté visible */
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
  z-index: 2000;     /* Encima de todo */
}

/* 2. Barras del botón */
.bm-burger-bars {
  background: #333;   /* Color de las barras */
   border-radius: 4px; 
}

/* 3. Hover sobre las barras */
.bm-burger-bars-hover {
  background: #717274;
}

/* 4. Menú lateral */
.bm-menu {
  background: #fff;  /* Fondo del menú */
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 1500;
}

/* 5. Items del menú */
.menu-item {
  display: block;
  padding: 0.8em 0;
  color: #333;
  text-decoration: none;
}

.menu-item:hover {
  color: #C3C920;
}

.bm-overlay {
  background: transparent !important;
  
}
